.header{
    min-height: 12rem;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-bottom: 1em;
    font-size: 22px;
    font-family: monospace;}

h2{
    font-size: 35px;
}