.card-header {
    text-align: center;
}

.main-container {
    border: 1px solid grey;
}

.main-container h3 {
    text-align: center;
    margin-top: 6px;
}

.card {
    width: 100%;
}

@media (min-width: 768px) {
    .card {
        width: 48%; 
}
}