h1{
    font-family:Georgia, 'Times New Roman', Times, sans-serif ;
    font-style: oblique;
    text-align: center;
    color:rgb(90, 90, 23);
}

.content{
    padding: 20px;
    background-color: #EEE7DA;
    
}

.characterCards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    margin-top: 20px !important;

}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 250px;
    width: auto;
    object-fit: cover;
    margin: 10px 10px 0px 10px;
    border-radius: 10px;
}

.card-title {
    text-align: center;
    padding: 10px;
    margin: 10px !important;
    border-radius: 10px;
    background-color: #f9f5dc;
    color:black;
    margin: 0;
}

